@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.root {
    font-family: 'Inter', Arial, sans-serif;
    background: #2A2C2F;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.page {
    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:1024px) {
    .page__container {
        max-width: 1024px;
    }
}

@media screen and (max-width:768px) {
    .page__container {
        max-width: 768px;
    }
}

@media screen and (max-width:320px) {
    .page__container {
        max-width: 320px;
    }
}

/* ----------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 28px auto 56px;
    max-width: calc(100% - 96px);
}

@media screen and (max-width: 768px) {
    .header {
        max-width: calc(100% - 24px*2);
        margin: 0 24px 48px;
        padding-top: 28px;
    }
  
  }
  
  @media screen and (max-width: 500px) {
    .header {
        max-width: calc(100% - 16px*2);
        margin: 16px 16px 48px;
    }
  }

.logo {
    width: 176px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 142px;
    }
}

.header__lang-switch {
    align-self: flex-end;
}

.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.1;
    text-decoration-line: none;
}

.header__lang-link:first-child {
    margin-right: 18px;
    text-decoration-line: underline;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 1.1;
    }
  }


/* ----------------------------- */

.content {}

/* ----------------------------- */


.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 92px;
    max-width: calc(100% - 148px*2);
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 100%;
        max-width: calc(100% - 48px*2);
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        margin: 0 auto 92px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin: 0 auto 64px;
    }
  }

.lead__title {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
      max-width: calc(100% - 24px*2);
    }
  
  }
  
  @media screen and (max-width: 720px) {
    .lead__title {
      font-size: 58px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .lead__title {
      max-width: 288px;
      font-size: 40px;
      line-height: 1.1;
    }
  }

.lead__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
    text-align: center;
    margin: 32px auto 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: calc(100% - 64px*2);
    }
}

@media screen and (max-width: 720px) {
    .lead__subtitle {
        font-size: 20px;
        max-width: 288px;
    }
}


@media screen and (max-width: 500px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.2;
        margin: 16px auto 40px;
        min-width: calc(100% - 16px*2);
        max-width: 288px;
    }
}

.lead__image {
    display: flex;
    justify-self: center;
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
}

.lead__caption {
    align-self: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 8px 0 0 0;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}


/* ----------------------------- */

.intro {
    margin: 0 auto 92px 148px;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0 auto 92px 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: calc(100% - 24px*2);
        margin: 0 24px 88px;
    }
}
  
  @media screen and (max-width: 320px) {
    .intro {
        max-width: calc(100% - 16px * 2);
        margin: 0 16px 64px;
    }
}

.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.1;
    margin: 0 0 40px;
}

@media screen and (max-width: 350px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.1;
    }
  }

.intro__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 33px;
}

.intro__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.intro__list_line {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
}

.intro__list_number {
    font-weight: 400;
}

/* ----------------------------- */

.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.photo-grid {
    display: grid;
    list-style-type: none;
    max-width: calc(100% - 96px);
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    margin: 0 auto;
    padding: 0;
}

  @media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 100%;
        margin: 0 48px;
        gap: 14px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        gap: 16px;
        margin: 0 24px;
    }
  }

  @media screen and (max-width: 500px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
      max-width: 100%;
      gap: 12px;
      margin: 0 16px;
    }
  }

.photo-grid__item {}

.photo-grid__image {
    width: 100%;
}

/* ----------------------------- */

.places {
    margin: 92px auto 92px;
    width: 100%;
    max-width: calc(100% - 296px);
}

@media screen and (max-width: 1100px) {
    .places {
        max-width: calc(100% - 96px);
        margin: 92px 48px 92px;
    }
}

@media screen and (max-width: 800px) {
    .places {
        max-width: calc(100% - 48px);
        margin: 88px 24px 90px;
    }
}

@media screen and (max-width: 650px) {
    .places {
        max-width: calc(100% - 0px);
        margin: 64px 0 66px;
    }
}

.places__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.place__item {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
    grid-template-columns: minmax(460px, 1fr) minmax(min-content, max-content);
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 auto 80px;
    grid-template-areas:
        "title url"
        "image text";    
}

.place__item:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
    .place__item {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 900px) {
    .place__item {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 650px) {
    .place__item {
        grid-template-columns: 1fr;
        gap: 32px;
        margin-bottom: 50px;
        grid-template-areas:
        "title"
        "url"
        "image"
        "text"; 
    }
}

.place__title {
    grid-area: title;
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .place__title {
        font-size: 62px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
  }
  
  @media screen and (max-width: 650px) {
    .place__title {
        margin: 0 16px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .place__title {
        font-size: 32px;
    }
  }

.place__image {
    grid-area: image;
    width: 100%;
}

.place__website {
    grid-area: url;
    display: flex;
    flex-direction: column;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@media screen and (max-width: 650px) {
    .place__website {
        margin: 0 16px;
    }
  }

.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0 0 12px;
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        line-height: 1;
    }
  }

.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: 1s;
    cursor: pointer;
}

.place__paragraphs {
    grid-area: text;
    display: flex;
    flex-direction: column;
    max-width: 484;
}

.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 26px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
      margin-bottom: 27px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .place__paragraph {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }
  
  @media screen and (max-width:650px) {
    .place__paragraph {
      margin: 0 16px 25px;
    }
  }
  
  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }

.link-hover {
    transition: opacity 0.5s ease-in-out;
}

.link-hover:hover {
    opacity: 0.8;
}

/* ----------------------------- */

.cover {
    width: 100%;
    height: 720px;
    max-width: calc(100% - 96px);
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .cover {
        margin: 0;
        max-width: 100%;
    }
}

.cover__link {
    position: relative;
    background-image: url(../images/cover-trains.jpg);
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    z-index: 100;
    text-decoration: none;
}

 @media screen and (max-width: 900px) {
    .cover__link {
        min-height: 560px;
    }
}

@media screen and (max-width: 800px) {
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (max-width: 600px) {
    .cover__link {
        min-height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .cover__link {
        min-height: 300px;
    }
}

@media screen and (max-width: 400px) {
    .cover {
        min-height: 200px;
    }
}


.cover__link::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    transition: opacity 1s ease-in-out;
}

.cover__link:hover::before {
    opacity: 0.8;
}

.cover__title {
    max-width: 560px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto 32px;
    padding-top: 245px;
}

@media screen and (max-width: 700px) {
    .cover__title {
        font-size: 60px;
    }
}

@media screen and (max-width: 600px) {
    .cover__title {
        font-size: 44px;
        margin: 0 auto 16px;
    }
}

@media screen and (max-width: 400px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.1;
    }
}

.cover__subtitle {
    max-width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.1;
        width: 80%;
    }
}

/* ----------------------------- */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 92px;
    padding-bottom: 24px;
    max-width: calc(100% - 48px * 2);
    margin: 0 48px;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 24px * 2);
        margin: 0 24px;
        padding-top: 88px;
    }
}

@media screen and (max-width:730px) {
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        padding-top: 64px;
        max-width: calc(100% - 16px * 2);
        margin: 0 16px;
    }
}
.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 501px) {
    .footer__links {
        flex-direction: column;
    }
}

.footer__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 18px 0 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin: 0;
        padding-bottom: 32px;
    }
}

.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 730px) {
    .footer__copyright {
        line-height: 1;
        margin-top: 48px;
    }
}

@media (max-width: 1079px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {}

@media (max-width: 540px) {}